@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
     font-feature-settings: "kern", "liga", "clig", "calt";
  text-rendering: optimizeLegibility;
}


button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

button:focus-visible,
a:focus-visible {
  outline: 2px solid #9333ea;
  outline-offset: 2px;
}

